/* CSS Document */
@font-face{
	font-family: SourceSansPro;
	src: url("../fonts/Source_Sans_Pro/SourceSansPro-Regular.ttf");
}
body{
	max-width: 1020px;
	margin: 0px auto;
	position: relative;
	font-family: Arial, Helvetica, sans-serif;
}
header{
	background-image: url("../images/bushfire.jpg");
	text-align: center;
	min-height: 150px;
	padding-top: 50px;
}
header h1,h4{
	color: aliceblue;
	padding-bottom: 10px;
	padding-left: 10px;
	font-family: SourceSansPro;
	text-transform: uppercase;
}
nav{
	min-height: 10px;
	width: 100%;
	text-align: center;
	background-color: lightsalmon;
	overflow: auto;
}
nav ul{
	list-style: none;
	text-align: center;
}
nav li a {
	float: left;
	text-decoration: none;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	display: inline-block;
	padding: 0px 50px 0px 60px;
	vertical-align: center;
}
nav li a:hover{
	font-weight: bold;
	background-image: linear-gradient(lightsalmon, lightgoldenrodyellow);
}
#main {
	background-color: lightgoldenrodyellow;
	position: relative;
}
#main h3{
	text-transform: uppercase;
	padding: 5px;
}
#main p{
	padding: 5px;
	text-align: justify;
}
article{
	float: left;
}
#article1{
	width: 30%;
	font-family: Arial, Helvetica, sans-serif;
	margin-right: 0px;
}
section{
	padding: 0px;
	display: inline-block;
}
#secondary{
	width: 39%;
	float: left;
}
#secondary ul{
	list-style-type: circle;
}
table {
	border: 1px solid black;
	float: right;
	width: 30%;
	margin: 5px;
}
table, th, td{
	border-bottom: 1px solid black;
	border-left: 1px solid black;
	margin: 0px;
}
table, th{
	background-color: lightsalmon;
	text-align: left;
}
table, td{
	background-color: lightgoldenrodyellow;
}
td #rating{
	font-weight: bold;
}
table #lowRate{
	background-color: green;
	font-weight: bold;
}
table #highRate{
	background-color: deepskyblue;
	font-weight: bold;
}
table #veryHighRate{
	background-color: yellow;
	font-weight: bold;
}
table #severeRate{
	background-color: orange;
	font-weight: bold;
}
table #extremeRate{
	background-color: red;
	font-weight: bold;
}
table #catastrophicRate{
	background-color: darkred;
	font-weight: bold;
}
footer{
	width: 100%;
	float: left;
	background-color: lightsalmon;
}
address{
	float: right;
}
body::after{
	content: "";
	clear: both;
	display: table;
}
#main::after{
	content: "";
	clear: both;
	display: table;
}
